/*NAVBAR*/
#logo{
    height: 40px;
    width: 40px;
}
.custom-navbar{
    background-color: #0F2624;
}
.space{
    margin-left: 50px;
}
.img{
    margin-right: 10px;
    height: 40px;
    width: 40px;
}
.card{
    margin: auto !important;
}

.player{
    width: 250px;
    margin-bottom: 20px;
}
/*Navigation index*/
.navIndex{
    background-color:#0F2624 ;
}

/*Footer*/
.foot{
    background-color:#255954 ;
    color:white;
    text-align: center;
    padding: 10px;
    bottom: 0;

}