/*NAVBAR*/
#logo{
    height: 40px;
    width: 40px;
}
.custom-navbar{
    background-color: #0F2624;
}
.space{
    margin-left: 50px;
}
.img{
    margin-right: 10px;
    height: 40px;
    width: 40px;
}
/*CARDS*/
.custom-card {
    margin: 0 10px; /* Espacio horizontal entre las tarjetas */
  }
  
  .container {
    padding: 0 20px; /* Espacio en los márgenes izquierdo y derecho de la pantalla */
  }