/*NAVBAR*/
#logo{
    height: 40px;
    width: 40px;
}
.custom-navbar{
    background-color:#F2AC57 ;
}
.img{
    margin-right: 10px;
    height: 40px;
    width: 40px;
}
/*GRID*/
.grid{
    display: flex;
    justify-content: center;
}
/*GRID FOR REQUESTED SONGS*/
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:auto;
}
.list-group {
    width: calc(100% / 2); /* Divide el ancho en 3 columnas */
    text-align: center;
    justify-content: center;
    margin: 10px;
}
.list-group-item {
    list-style: none;
    padding: 10px;
    border: 1px solid #ccc;
}
.user{
    background:#575757 !important;
    color:white !important;
}
/*Para celulares*/
@media (max-width: 360px) {
    .row {
        width: 100% !important; /* Hacer que la tabla ocupe el ancho completo */
        font-size: 12px !important; /* Reducir el tamaño de fuente para que quepa en la pantalla */
        /* Otros estilos específicos para pantallas pequeñas */
    }
}

/*Tablets*/
@media (min-width:760px) and (max-width: 768px){
    .row{
        width: 100% !important;
        font-size: 15px !important;
    }
}
/* Pantallas hd o laptops*/
@media (min-width:1200px) and (max-width: 1900px) {
    .row{
        width: 100% !important;
        font-size: 15px !important;
    }
}
/*Footer*/
.foot{
    background-color:#8C0303 ;
    color:white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom:0;
}