/*NAVBAR*/
#logo{
    height: 40px;
    width: 40px;
}
.custom-navbar{
    background-color: #0F2624;
}
.space{
    margin-left: 50px;
}
.img{
    margin-right: 10px;
    height: 40px;
    width: 40px;
}
/*Footer*/
.foot{
    background-color:#0F2624 ;
    color:white;
    text-align: center;
    padding: 10px;
}